{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
    "minify"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
