<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ("../partials/header") %>

    <main class="container main-wrapper">
      <article class="heading-werkspot-logo">
        <img src="/images/werkspot_logo.jpg" alt="werkspot-logo" />
        <h6 class="ease-transition">
          Coding challenge, by
          <a
            href="https://stackoverflow.com/users/5354341/a-m-dev?tab=profile"
            target="_blank"
            >@a_m_dev</a
          >
        </h6>
      </article>

      <section class="error-box visible-off">
        <img src="/images/fail.png" alt="error network call" />
        <p>There was an Error, reload the page please!</p>
      </section>

      <article class="post-list__container visible-off">
        <h3 class="post-list__title">Latest News:</h3>

        <section class="post-list"></section>
      </article>

      <section class="loading">
        <div class="loading__indicator"></div>
      </section>

      <div id="moreeeee"></div>
    </main>

    <%- include ("../partials/footer") %>

    <script src="../../js/utils/ServiceManager.js"></script>
    <script src="../../js/utils/Renderer.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/home.js"></script>
  </body>
</html>
