<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ("../partials/header") %>

    <main class="container main-wrapper"></main>

    <%- include ("../partials/footer") %>
  </body>
</html>
