<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Past Page</title>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ("../partials/header") %>

    <main class="container main-wrapper">
      <h4>Old Hacking Posts:</h4>
      <a href="/index">Back to home</a>
    </main>

    <%- include ("../partials/footer") %>

    <script src="../../js/main.js"></script>
  </body>
</html>
