<footer class="footer-wrapper">
  <section class="container">
    <p class="footer-wrapper__copy">
      © Copyright 2020 amdev, trying to pass Werkspot coding challenge
    </p>
    <nav>
      <ul>
        <li><a href="#" class="ease-transition">Guidlines</a></li>
        <li><a href="#" class="ease-transition">FAQ</a></li>
        <li><a href="#" class="ease-transition">Support</a></li>
        <li><a href="#" class="ease-transition">contact</a></li>
      </ul>
    </nav>
  </section>
</footer>
