<header class="header">
  <section class="container header__lead">
    <a href="/" class="header__lead-logo">
      <img src="../../images/logo.png" class="header__lead-img" alt="logo" />
      <h1 class="header__lead-notation">Hacker News</h1>
    </a>

    <div class="header__lead-social">
      <a
        class="ease-transition"
        href="https://www.linkedin.com/in/ahmad-mirzaei-b60b2618a/"
        target="_blank"
      >
        <i class="icon-linkedin"></i>
      </a>
      <a
        class="ease-transition"
        href="https://github.com/a-m-dev"
        target="_blank"
      >
        <i class="icon-github-circled"></i>
      </a>
      <a
        class="ease-transition"
        href="https://stackoverflow.com/users/5354341/a-m-dev?tab=profile"
        target="_blank"
      >
        <i class="icon-stackoverflow"></i>
      </a>
    </div>
  </section>

  <%- include ('./navigator')%>
</header>
