<nav class="navigator">
  <section class="container">
    <div class="navigator__mobile-menu">
      <i class="icon-menu"></i>
    </div>

    <ul class="navigator__list responsive">
      <li class="navigator__list-item">
        <a class="ease-transition" href="/">New</a>
      </li>
      <li class="navigator__list-item">
        <a class="ease-transition" href="/past">Past</a>
      </li>
      <li class="navigator__list-item">
        <a class="ease-transition" href="/comments">Comments</a>
      </li>
      <li class="navigator__list-item">
        <a class="ease-transition" href="/ask">Ask</a>
      </li>
    </ul>

    <div class="navigator__actions">
      <a href="/login">
        <button class="ease-transition">
          <span class="ease-transition">Login</span>
        </button>
      </a>
    </div>
  </section>
</nav>
